# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.pytest_cache/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / model checkpoints
*.pth
Hotel Reservations.csv
*.zip